body {
  background-color: hsl(212, 45%, 89%);
}

.container {
  background-color: white;
  border-radius: 15px;
  padding: 13px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  width: 250px;

  box-shadow: 0 2.8px 2.2px rgba(123, 135, 157, 0),
    0 6.7px 5.3px rgba(123, 135, 157, 0.048),
    0 12.5px 10px rgba(123, 135, 157, 0.06),
    0 22.3px 17.9px rgba(123, 135, 157, 0.072),
    0 41.8px 33.4px rgba(123, 135, 157, 0.086),
    0 100px 80px rgba(123, 135, 157, 0.12);
}

.qr-code {
  border-radius: 15px;
}

.text-box {
  text-align: center;
  font-family: "Outfit", sans-serif;
  padding: 10px;
}

.text-bold {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 19px;
  margin-bottom: -2px;
  margin-top: 12px;
}

.text-regular {
  color: hsl(220, 15%, 55%);
  font-size: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
